<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/style.css" type="style.css"> -->
    <title>Snacks</title>
  </head>
  <body style="background-color:burlywood ; color: white;">
    <h3>
      <a style= "text-decoration: none; background-color: crimson; color:white;" href="{% url 'snack_list' %}"> Snack List</a>
    </h3>
    <h3>
        <a style = "text-decoration: none; color:white; background-color: crimson;" href="{% url 'snack_create' %}">Create New Snack</a>
    </h3>
    {% block content %}
    
    {% endblock content %}
  </body>
</html>
